@import '~antd/dist/antd.css';

/* Globals
****************************************************************************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: initial;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* AntD Overrides
****************************************************************************************************/

.ant-tabs-nav {
  display: flex;
  width: 100%;
}

.ant-tabs-tab {
  width: calc(100% - 10px);
  text-align: center;
}

/* Styles
****************************************************************************************************/

.site-grid {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-auto-rows: 60px auto;
}

.header {
  grid-column: 1 / 4;
}

.header-logo {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.section {
  max-height: calc(100vh - 60px);
  overflow-y: scroll;
}

.meal-plan-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.recipe-card {
  height: 76px;
}

.recipe-icon {
  width: 76px;
  height: 76px;
}

.recipe-name {
  width: calc(100% - 76px);
}

.recipe-card-remove {
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  width: 76px;
  height: 76px;
  cursor: pointer;
  background: linear-gradient(to left, white 70%, transparent);
  transform: translateX(100%);
  transition: transform 0.15s ease;
}

.recipe-card:hover .recipe-card-remove {
  transform: translateX(0);
}